<h1>TASK - Create RESTful Web Service Using Nodejs and MongoDB</h1>
<section class="insert">
    <h3>Insert Data</h3>

    <form action="/insert" method="post">
        <div class="input">
            <label for="name">Name</label>
            <input type="text" id="name" name="name">
        </div>
        <div class="input">
            <label for="age">Age</label>
            <input type="text" id="age" name="age">
        </div>
        <div class="input">
            <label for="gender">Gender</label>
            <input type="text" id="gender" name="gender">
        </div>
        <div class="input">
            <label for="mobile">Mobile</label>
            <input type="text" id="mobile" name="mobile">
        </div>
        <button type="submit">INSERT</button>
    </form>
</section>

<section class="get">
    <h3>Get Data</h3>
    <a href="/get-data">LOAD DATA</a>
    <div>
        {{# each items }}
            <article class="item">
                <div>Name: {{ this.name }}</div>
                <div>Age: {{ this.age }}</div>
                <div>Gender: {{ this.gender }}</div>
                <div>Mobile: {{ this.mobile }}</div>
                <div>ID: {{ this._id }}</div>
            </article>
        {{/each}}
    </div>
</section>

<section class="update">
    <h3>Update Data</h3>
    <form action="/update" method="post">
        <div class="input">
            <label for="id">ID</label>
            <input type="text" id="id" name="id">
        </div>
        <div class="input">
            <label for="name">Name</label>
            <input type="text" id="name" name="name">
        </div>
        <div class="input">
            <label for="age">Age</label>
            <input type="text" id="age" name="age">
        </div>
        <div class="input">
            <label for="gender">Gender</label>
            <input type="text" id="gender" name="gender">
        </div>
        <div class="input">
            <label for="mobile">Mobile</label>
            <input type="text" id="mobile" name="mobile">
        </div>
        <button type="submit">UPDATE</button>
    </form>
</section>
</section>

<section class="delete">
    <h3>Delete Data</h3>
    <form action="/delete" method="post">
        <div class="input">
            <label for="id">ID</label>
            <input type="text" id="id" name="id">
        </div>
        <button type="submit">DELETE</button>
    </form>
</section>